app.css html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Styles for the scrollbar */

.tooltip-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  left: 0;
  /* Align tooltip with the start of the container */
  top: 100%;
  /* Position it below the trigger element */
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
  z-index: 999;
  width: 300px;
  /* Define a consistent width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

.tooltip-container:hover .tooltip {
  display: block;
}

@media (max-width: 360px) {
  .galaxy {
    position: absolute;
    top: 80%;
    left: 2%;
  }
}
